<h1>Welcome to our website!</h1>
<p>Yura skilled full stack developer</p>
<ul>
  <li>
    <a href="/about">about</a>
  </li>
  <li>
    <a href="/contact">contact</a>
    </li>
    <li><a href="/register">register</a></li>
    <li><a href="/login">login</a></li>
</ul>
<img src="images/avatar.jpeg" width="450" height="auto" alt="avatar">