<h1>Sended page</h1>
<p>{{message}}</p>
<ul>
  <li>
    <a href="/">home</a>
  </li>
  <li>
    <a href="/contact">contact</a>
    </li>
</ul>
<h2>Contact send by {{name}}</h2>
<h2>Contact email is {{email}}</h2>